@model EditPersonDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Person</legend>

    <div class="display-label">@Html.DisplayNameFor(model => model.Anrede)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Anrede)
    </div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Vorname)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vorname)
    </div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Nachname)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nachname)
    </div>
    
    <div class="display-label">@Html.DisplayNameFor(model => model.Adresse)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adresse)
    </div>

    <div class="display-label">@Html.DisplayNameFor(model => model.Contact)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>