@model EditPersonEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Anrede)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Anrede)
            @Html.ValidationMessageFor(model => model.Anrede)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vorname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vorname)
            @Html.ValidationMessageFor(model => model.Vorname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nachname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nachname)
            @Html.ValidationMessageFor(model => model.Nachname)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Adresse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adresse)
            @Html.ValidationMessageFor(model => model.Adresse)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Contact)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact)
            @Html.ValidationMessageFor(model => model.Contact)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function() {
            if ($("input.input-validation-error").length == 0) {
                $("input[type=text]").first().focus();
            } else {
                $("input.input-validation-error").first().focus();
            }
        });
    </script>
}